---
layout: default
title: Home
cover: false
---

<div class="extra-pagination inner">
    {% include pagination.html %}
</div>

{% for post in paginator.posts %}

<article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </header>
    <section class="post-excerpt">
        {{ post.excerpt }} <a href="{{ post.url }}" class="read-more" rel="nofollow">Continue Reading.</a>
    </section>
    {% if post.categories.size > 0 %}
    <footer class="post-meta">
        {{ post.categories | array_to_sentence_string | prepend: 'Published in ' }}
    </footer>
    {% endif %}
</article>

{% endfor %}

{% include pagination.html %}