        <footer class="post-footer">
            <figure class="author-image">
                <a class="img" href="{{ site.baseurl }}" style="background-image: url({{ site.logo }})">
                <span class="hidden">{{ site.name }}'s Picture</span></a>
            </figure>
            <section class="author">
                <h4><a href="{{ site.baseurl }}">{{ site.name }}</a></h4>
                <p>{{ site.description }}</p>
            </section>

            <section class="share">
                <h4>Share</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{ page.url }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{site.url}}{{page.url}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

            {% if page.disqus %}
            <section class="disqus">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = '';
                    var disqus_developer = 0; // developer mode is on
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>
            {% endif %}

        </footer>