---
layout: default
disqus: false
meta: false
archive: false
post_class: post-template
---

<article class="post">

    <header class="post-header">
        <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <section class="post-meta">
            <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%A, %B %d, %Y" }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </section>
    </header>

    <section class="post-content">
        {{content}}
    </section>

    {% if page.archive %}
    <section class="archive">
        <h5>Archive</h5>
        <ul>
            {% for post in site.posts %}
                <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% include post-footer.html %}

</article>
